/*     CSS para la página Inicio                  */

#contenido {
    width: 80% !important;
    height: 70%;
    position: absolute;
    left: 10%;
    top: 10%;
}
.button {
    display: inline-block;
    position: relative;
    width: 80%;
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
    font-size: 0.9em;
    background-color: #fff;
    color: #646464;
    font-family: 'Yanone Kaffeesatz';
    margin-bottom: 2%;
    font-size: 22px;
    letter-spacing: 1px;
    left: 10%;
}
.button > paper-ripple {
    border-radius: 2px;
    overflow: hidden;
}
.button.blue {
    background-color: #296fb7;
    color: #fff;
}
.button.raised {
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.button.raised:active {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
}
.center {
    text-align: center;
    text-shadow: none;
}
#inicio,
#login {
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
#logo {
    width: 100%
}
#titulo-app {
    color: #222;
    font-size: 0.9em !important;
    text-shadow: none
}
#header {
    background: #296fb7;
    text-shadow: none;
    color: #FFF;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-family: 'Yanone Kaffeesatz';
    font-size: 22px;
}
.fab {
    margin-top: 3%;
    position: relative;
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.fab.red {
    background-color: rgba(125, 132, 138, 0.73);
    margin-left: 10%
}
.fab.blue {
    background-color: rgba(125, 132, 138, 0.73);
    float: right;
    margin-right: 10%
}
.fab:active {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
}
.fab > core-icon {
    margin-top: 10px;
}
.fab > core-icon::shadow path {
    fill: #fff;
}
#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 40px;
    width: 100%;
    color: #FFF;
    background: #296fb7;
    text-shadow: none;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Yanone Kaffeesatz';
    font-size: 22px;
}
#contenedor-logo {
    margin-bottom: -7%;
}

/****************************  Mapa   *****************************************/

.banner {
    display: block;
    text-align: center;
    line-height: 50px;
    text-shadow: none;
    font-family: 'Yanone Kaffeesatz';
    font-size: 24px;
}
.card {
    position: relative;
    display: inline-block;
    width: 90%;
    height: 320px;
    vertical-align: top;
    background-color: #fff;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    left: 5%;
}

/********************* Login ****************************************************/

#contenido1 {
    width: 80%;
    height: 70%;
    position: absolute;
    left: 10%;
    top: 20%;
    font-family: 'Yanone Kaffeesatz';
}
.group {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    left: 5%;
}
.input_login {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 95%;
    border: none;
    font-family: 'Yanone Kaffeesatz' !important;
    border-bottom: 1px solid #757575;
}
.input_login:focus {
    outline: none;
    border-bottom: 3px solid #296fb7;
}

/**
**
**   Pagina de No clientes
**/

#contenido2 {
    width: 90%;
    height: 60%;
    position: absolute;
    left: 5%;
    top: 20%;
    font-family: 'Yanone Kaffeesatz';
}
.botonera2 {
    clear: both
}
.btn2 {
    background: rgba(232, 232, 232, 1);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    box-shadow: 0px 9px 0px rgba(215, 215, 215, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    -webkit-box-shadow: 0px 9px 0px rgba(215, 215, 215, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0px 9px 0px rgba(215, 215, 215, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    border: 0px solid #BBBBBB;
    float: right;
    margin-right: 5%;
    text-decoration: none;
    width: 40%
}
.botonera2 a {
    margin-top: 20px
}
.botonera3 {
    width: 100%
}
.botonera3 a {
    margin-top: 20px
}
.btn1 {
    background: rgba(232, 232, 232, 1);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    box-shadow: 0px 9px 0px rgba(215, 215, 215, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    -webkit-box-shadow: 0px 9px 0px rgba(215, 215, 215, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0px 9px 0px rgba(215, 215, 215, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    border: 0px solid #000000;
    float: left;
    margin-left: 5%;
    text-decoration: none;
    width: 40%
}
.btn1:active,
.btn2:active {
    box-shadow: 0px 3px 0px rgba(215, 215, 215, 1), 0px 3px 6px rgba(0, 0, 0, .9);
    -webkit-box-shadow: 0px 3px 0px rgba(215, 215, 215, 1), 0px 3px 6px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0px 3px 0px rgba(215, 215, 215, 1), 0px 3px 6px rgba(0, 0, 0, .9);
    position: relative;
    top: 6px
}
.btn1 span,
.btn2 span {
    display: block;
    margin-top: 10px;
    text-align: center
}
.btn1 h2,
.btn2 h2 {
    color: #296fb7;
    font-family: 'Yanone Kaffeesatz';
    font-size: 14px;
    text-align: center;
    text-shadow: none;
    margin-top: -5px;
}

/*********************************************************
**
**Pagina de Usuarios
**********************************************************/

#dato-menu1 .ui-icon,
#dato-menu2 .ui-icon,
#dato-menu3 .ui-icon,
#dato-menu4 .ui-icon,
#dato-menu5 .ui-icon,
#dato-menu6 .ui-icon,
#dato-menu7 .ui-icon {
    margin-top: -22px !important
}
#dato-menu,
#dato-menu1,
#dato-menu2,
#dato-menu3,
#dato-menu4,
#dato-menu5,
#dato-menu6,
#dato-menu7,
#lista-menu2 {
    background: #FFF;
    border: 0px;
    color: #727272 !important;
    font-family: 'Yanone Kaffeesatz';
    text-transform: uppercase
}
#dato-menu1,
#dato-menu2,
#dato-menu3,
#dato-menu4,
#dato-menu5,
#dato-menu6,
#dato-menu7,
#lista-menu2 {
    height: 50px !important
}
#text-menu:hover {
    color: #296fb7 !important
}
#dato-menu1:hover,
#dato-menu2:hover,
#dato-menu3:hover,
#dato-menu4:hover,
#dato-menu5:hover,
#dato-menu6:hover,
#dato-menu7:hover,
#lista-menu2:hover {
    background: #F0F0F0 !important
}
#dato-menu {
    border-bottom: solid 1px #BBB !important;
    border-top: solid 1px #BBB !important;
    border-top-width: 1px !important;
    text-transform: uppercase;
    width: 220px !important
}
#dato-menu img {
    margin-left: 8px;
    margin-top: 5px
}
#dato-menu h3 {
    margin-bottom: 0;
    margin-left: 40px;
    margin-top: 0
}
#dato-menu2 a h3,
#dato-menu1 a h3,
#dato-menu4 a h3,
#dato-menu5 a h3,
#dato-menu6 a h3,
#dato-menu3 a h3,
#dato-menu7 a h3,
#lista-menu2 a h3 {
    color: #727272 !important;
}
#dato-menu1 a img,
#dato-menu2 a img,
#dato-menu3 a img,
#dato-menu4 a img,
#dato-menu5 a img,
#dato-menu6 a img,
#dato-menu7 a img {
    margin-left: 6px !important;
    margin-top: 10px !important
}
usuarios .ui-body-c {
    border: solid 1px #FFF !important
}
#left-panel {
    background: #FFF;
    border: solid 1px #fff !important;
    box-shadow: none
}
#left-panel .ui-panel-inner > .ui-listview {
    margin-bottom: 0
}
#left-panel .ui-collapsible-set {
    margin: 0
}
#left-panel .ui-panel-inner > .ui-collapsible > .ui-collapsible-content {
    border-bottom: none;
    padding-bottom: 10px;
    padding-top: 10px
}
#contenido4 {
    width: 90%;
    height: 90%;
    position: absolute;
    left: 5%;
    font-family: 'Yanone Kaffeesatz';
}
.card1 {
    position: relative;
    display: inline-block;
    width: 90%;
    height: 240px;
    vertical-align: top;
    background-color: #fff;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    left: 5%;
    background: #4CAF50 !important;
    text-shadow: none;
    font-family: 'Yanone Kaffeesatz';
    color: #FFF;
}
#tabla {
    margin-top: 20px;
    width: 100%
}
#tabla tr th {
    width: 33%
}
#tabla tr th h1 {
    font-family: 'Yanone Kaffeesatz';
    font-size: 15px
}
#tabla tr th a {
    text-decoration: none
}
